<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Banking App</title>
</head>
<body>
    <header>
        <div class="navigation">
            <nav class="navbar">
                <a href="home.html"><img class="logo" src="images/Pelicans-Plate-logo.png" alt="logo"></a>
                <ul class="nav-list flex">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="menu.html">Our Menu</a></li>
                    <li><a href="rewards.html">Rewards</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    {% block body %}
    {% endblock %}

    <footer>
        <div class="container">
            <p class="copyright">Copyright &copy; 2025 All right reserved. Created by Tyler McDowell and Ryan Sweeney.</p>
        </div>
    </footer>
</body>
</html>