<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>OrbitCoin Banking</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navlist">
                <li><a href="home.html">HOME</a></li>
                <li><a href="account.html">MY ACCOUNT</a></li>
                <li><a href="deposit.html">DEPOSIT</a></li>
                <li><a href="transfer.html">TRANSFERS</a></li>
                <li><a href="admin.html">VERIFY ACCOUNTS</a></li>
            </ul>
        </nav>
    </header>
    
    {% block body %}
    {% endblock %}

    <footer>
        <div class="container">
            <p class="copyright">Copyright &copy; 2025 All right reserved. Created by Tyler McDowell and Ryan Sweeney.</p>
        </div>
    </footer>
</body>
</html>