{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Make a deposit</h1>
        <form action="/deposit.html" method="POST">
            <label for="CardholderName">Cardholder Name*:</label>
            <input type="text" name="CardholderName" id="CardholderName" placeholder="Cardholder Name" required><br>

            <label for="CardNumber">Card Number*:</label>
            <input type="tel" name="CardNumber" id="CardNumber" placeholder="1234123412341234" maxlength="16" required><br>

            <label for="Expiration Date">Exp. Date*:</label>
            <input type="date" name="ExpirationDate" placeholder="Expiration Date" required><br>

            <label for="CCV">CCV Number*:</label>
            <input type="text" name="CCV" id="CCV" placeholder="123" maxlength="3" required>
        </form>
    </div>
{% endblock %}