{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Make a deposit</h1>

        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}
    
        {% if success %}
            <h2>{{success}}</h2>
        {% endif %}

        <form action="/deposit.html" method="POST">
            <div class="card_info">
                <label for="cardNumber">Card Number*:</label>
                <input type="tel" name="cardNumber" id="cardNumber" placeholder="1234 1234 1234 1234" maxlength="16" required><br>

                <label for="expirationDate">Exp. Date*:</label>
                <input type="date" name="expirationDate" id="expirationDate" placeholder="Expiration Date" required><br>

                <label for="CCV">CCV Number*:</label>
                <input type="text" name="CCV" id="CCV" placeholder="123" maxlength="3" required><br>
            </div>
            
            <div class="bank_account_info">
                <label for="amount">Amount to deposit*:</label>
                <input type="num" name="amount" id="amount" placeholder="$0000.00" required>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}