<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>OrbitCoin - Sign up</title>
</head>
<body>
    <div class="container">
        <img class="register-img" src="/static/images/orbitLogo.png">
        <h1 class="registerh1">Signup</h1>
    
        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}
    
        {% if success %}
            <h2>{{success}}</h2>
        {% endif %}
    
        <form class="register" action="/" method="POST">
            <input type="text" name="Fname" placeholder="First Name"><br>
    
            <input type="text" name="Lname" placeholder="Last Name"><br>
    
            <input type="text" name="Username" placeholder="Username"><br>
    
            <input type="text" name="UserPassword" placeholder="Password"><br>
    
            <input type="number" name="SSN" placeholder="Social Security"><br>
    
            <input type="text" name="Address" placeholder="Address"><br>
    
            <input type="number" name="PhoneNum" placeholder="Phone Number"><br>
    
            <input type="submit" value="Submit" class="input_submit">
        </form>
        <a href="home.html">Home</a>
    </div>
</body>
</html>
