<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>OrbitCoin - Sign up</title>
</head>
<body>
    <div class="container">
        <img class="register-img" src="/static/images/orbitLogo.png" alt="orbit logo">
        <h1 class="registerh1">Signup</h1>
    
        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}
    
        {% if success %}
            <h2>{{success}}</h2>
        {% endif %}
    
        <form class="register" action="/" method="POST">
            <input type="text" name="Fname" placeholder="First Name" class="register_input"><br>
    
            <input type="text" name="Lname" placeholder="Last Name" class="register_input"><br>
    
            <input type="text" name="Username" placeholder="Username" class="register_input"><br>
    
            <input type="password" name="UserPassword" placeholder="Password" class="register_input"><br>
    
            <input type="number" name="SSN" placeholder="Social Security" class="register_input"><br>
    
            <input type="text" name="Address" placeholder="Address" class="register_input"><br>
    
            <input type="number" name="PhoneNum" placeholder="Phone Number" class="register_input"><br>
    
            <input type="submit" value="Submit" class="input_submit">

            <a href="login.html" class="login-btn">Login</a>
        </form>
    </div>
</body>
</html>
