<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    
    
<h1 id="signuph1">Signup</h1>

<form id="signup" action="/" method="POST">
    <input type="text" name="Fname" placeholder="First Name" class="input_field"><br>

    <input type="text" name="Lname" placeholder="Last Name" class="input_field"><br>

    <input type="text" name="UserName" placeholder="Username" class="input_field"><br>

    <input type="text" name="UserPassword" placeholder="Password" class="input_field"><br>

    <input type="number" name="SSN" placeholder="Social Security" class="input_field"><br>

    <input type="text" name="Address" placeholder="Address" class="input_field"><br>

    <input type="number" name="PhoneNum" placeholder="Phone Number" class="input_field"><br>

    <input type="submit" value="Submit" class="input_submit">
</form>

</body>
</html>
