{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1>Send Money</h1>
    <form method="POST">
        <label for="recipient_account">Recipient Account Number*:</label>
        <input type="number" name="recipient_account" required><br>

        <label for="amount">Amount*:</label>
        <input type="number" name="amount" step="0.01" min="0.01" required><br>
        <button type="submit">Send</button>
        {% if error %}<p>{{ error }}</p>{% endif %}
        {% if success %}<p>{{ success }}</p>{% endif %}
    </form>
</div>
{% endblock %}