/* Styles for universal elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
:root {
   --backgroundColor: #F9F9F9;
   --secondaryColor: #0F0C1D;
   --cyan: #246A73;
   --gold: #FFD700;
}
html {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 18px;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(15, 12, 29, .2);
}
h1 {
    text-align: center;
    font-size: 20px;
}
h2 {
    text-align: center;
    font-size: 18px;
}
p {
    font-family: sans-serif;
}

/* Styles for header */
header {
    background-color: var(--secondaryColor);
    color: #fff;
    padding: 30px 0;
}

/* Styles for nav */
.navlist {
    display: flex;
    justify-content: space-evenly;
}
.navlist li {
    list-style-type: none;
    font-size: 1.3em;
}
.navlist a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .8em;
    color: var(--gold);
}

/* Styles for footer */
footer {
    background-color: var(--secondaryColor);
    color: var(--gold);
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .7em;
    padding: 30px 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
}